// @use '../../assets/styles/' as *;

.main__layout {
  // background-color: $primary-color-1;
  // box-sizing: border-box;
  // height: auto;
  // overflow: hidden;

  // .containerDetailCard {
  //   height: 100%;
  // }

  // .MuiGrid-root.MuiGrid-item {
  //   height: inherit;
  // }

  // &-body-outlet {
  //   padding: 100px 100px;
  //   @media (min-width: 0px) {
  //     padding: 35px 10px;
  //   }
  //   @media (min-width: 480px) {
  //     padding: 35px 30px;
  //   }
  //   @media (min-width: 768px) {
  //     padding: 35px 50px;
  //   }
  //   @media (min-width: 1024px) {
  //     padding: 35px 100px;
  //   }
  // }
}
@media only screen and (min-width: 900px) {
  // flex-basis: 100% !important;
}
// @media only screen and (min-width: 1025px) {
//   .main__layout {
//     .MuiGrid-root.MuiGrid-item {
//       padding-left: 0px !important;
//     }
//   }
// }
// @media only screen and (min-width: 320px) {
//   .main__layout {
//     .MuiGrid-root.MuiGrid-item {
//       padding-left: 0px !important;
//     }
//   }
// }
// @media only screen and (min-width: 481px) {
//   .main__layout {
//     .MuiGrid-root.MuiGrid-item {
//       padding-left: 0px !important;
//     }
//   }
// }
// @media only screen and (min-width: 769px) {
//   .main__layout {
//     .MuiGrid-root.MuiGrid-item {
//       padding-left: 0px !important;
//     }
//   }
// }
// @media only screen and (min-width: 900px) {
//   // flex-basis: 100% !important;
// }
// @media only screen and (min-width: 1025px) {
//   .main__layout {
//     .MuiGrid-root.MuiGrid-item {
//       padding-left: 0px !important;
//     }
//   }
// }
